@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:daniel.carnovale@gmail.com">Daniel's Email</a><br />
    <strong>Chair:</strong>     <a href="#">Blardy</a><br />
    <strong>Co-Chair:</strong>  <a href="#">Arkey</a><br />
    <strong></strong>
</address>