@{
    ViewBag.Title = "Home Page";
}

<h1>Customer List Demonstration</h1>

<div>
    @Html.Partial("_CustomerList")
</div>

@{
    bool val1 = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;

    if (val1)
    {
        @:<h2>
        <!--@Html.ActionLink("Add new Customer", "AddCust");-->
        <a href="/Customers">Customers</a>
        <a href="/Events">Events</a>
        <a href="/Announce">Announcements</a>
        @:</h2>
    }
}
